@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #f4f5f7;
}
.desktopOptionBtn {
  display: none;
}

.mobileOptionBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 60px;
  top: 44px;
}

.profileImage {
  width: 88px;
  height: 88px;
}

.profile {
  text-align: center;
  margin-top: 64px;
}

.personName {
  color: #101828;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
  line-height: 28px;
}

ul {
  list-style-type: none;
}
li a {
  text-decoration: none;
  background: #eaecf0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}

.twitter a {
  padding: 24px 32px;
  justify-content: center;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  display: flex;
  margin: 32px 16px 0px;
}

.team a {
  padding: 24px 32px;
  justify-content: center;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  display: flex;
  margin: 24px 16px 0px;
}

.gemiBooks a {
  padding: 24px 32px;
  justify-content: center;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  display: flex;
  margin: 24px 16px 0px;
}

.pythonBooks a {
  padding: 24px 32px;
  justify-content: center;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  display: flex;
  margin: 24px 16px 0px;
}
.backgroundChecker a {
  padding: 24px 32px;
  justify-content: center;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  display: flex;
  margin: 24px 16px 0px;
}

.designBooks a {
  padding: 24px 32px;
  justify-content: center;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  display: flex;
  margin: 24px 16px 0px;
}

.social li {
  display: inline;
}

.social {
  margin-top: 50px;
  text-align: center;
}
